//
//  Secrets.swift
//  YourPlace
//
//  Created by Lacy Rhoades on 4/9/18.
//  Copyright © 2018 Lacy Rhoades. All rights reserved.
//

import Foundation

let PMA_API_KEY = "api token secret key goes here"
